.caja{
    background-color: orange;
    width: 250px;
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 50px;
    border-radius: 0 50px;
    margin: 100px;
    box-shadow: -10px -20px 5px black;
    /*horizontal, vertical desenfocado y el color*/
}

